

///
// LOGO + HEADER
///
body.widget .logo img {
  display: none;
}



//breadcrumnbs clearfix
body.widget .webcomponent-booking-navigation {
  padding: 0;
  margin-bottom: 0;
  background: transparent;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

body.widget ul.clearfix {
  display: block;
  margin-top: 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 1.5em;
}

///
// DIV BODY
///
div.body {
  padding: 1.5em 0;
}

.widget .widget-content .heading {
  padding: 0.75em 0;
  margin-left: -1.5em;
  margin-right: -1.5em;
  background: rgba(255, 255, 255, 0.75);
  height: auto;
}


.widget .widget-content .body {
  padding: 1.5em 0 3em 0;
}

body.widget h1 {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.75em 0.75em 0 0.75em;
  background: rgba(48,48,48, 0.75);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: -1.5em;
  margin-left: -1.5em;
  margin-right: -1.5em;
  float: none;

  &.calendar-title a {
    color: #fff;
  }
}

body.widget h2 {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 0.75em 0.75em 0.75em;
  background: rgba(48,48,48, 0.75);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: 0;
}

.widget .booking-calendar-page {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    align-items: stretch;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.widget .webcomponent-booking-calendar-inline {
  max-width: 500px;
  min-width: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;
  background-color: rgba(255,255,255, 0.85);
  padding: 1.5em;
  margin-bottom: 0;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

//DATA PRINCIPALE CALENDARIO
body.widget .webcomponent-booking-calendar-inline .datepicker-input {
  border-radius: 0;
  padding: 1.5em 0;
  color: #333;
  text-align: center;
  background: none;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 300;
}

//HEADER DATEPICKER
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker .ui-datepicker-header,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker-inline .ui-datepicker-header {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
}

//FRECCETTE datepicker
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker .ui-datepicker-header .ui-icon,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker-inline .ui-datepicker-header .ui-icon {
  background: url(http://img1.static.trekksoft.com/img.php?file=widget/black-arrow&oldcolor=000&newcolor=ce484f) 50% 50%;
  background-repeat: no-repeat;
  line-height: 1em;
  font-size: 1.5em;
  height: auto;
}
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker .ui-datepicker-header .ui-icon.ui-icon-circle-triangle-e,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker-inline .ui-datepicker-header .ui-icon.ui-icon-circle-triangle-e {
  background-position: 0px 0px;
}

//Titolo datepicker
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker .ui-datepicker-title,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline.ui-datepicker-inline .ui-datepicker-title  {
  font-size: 1.25em;
  line-height: 1.225em;
}

//calendario vero e proprio - sfond
body.widget .ui-widget-content,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar,
body.widget .ui-widget-content {
  background: transparent;
}
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar thead th,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar thead th,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable a,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable span,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable a,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable span {
  background: transparent;
}

////
// TABELLA DATE PICKER
////
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar {
  font-size: 1em;
}

//THEAD
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar thead th,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar thead th {
  text-transform: uppercase;
  font-size: 1em;
}

body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td {
  font-size: 1em;
  padding: 0;
  font-weight: 400;
}

//NON SELEZIONABILI
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable a,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable span,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable a,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable span {
  color: #000;
  opacity: 0.3;
  padding: 13px 0;
}

//SELEZIONABILI
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td a,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td span,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td a,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td span {
  padding: 13px 0;
  opacity: 1;
  color: #000;
  font-weight: 400;
  border-radius: 100%;
  background: transparent;
}

//TODAY
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-today a,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-today span,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-today a,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-today span {
  padding: 13px 0;
  border-radius: 100%;
}


//SELEZIONATO
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a,
body.widget .webcomponent-booking-calendar-inline #ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day span,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a,
body.widget .webcomponent-booking-calendar-inline .ui-datepicker-inline .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day span {
  border-radius: 100%;
  background: $rosso;
  color: #fff;
}

//DOPO CALENDARIO

@media (min-width: 768px) { //nascondo i dati sopra i 768px
  body.widget .webcomponent-booking-calendar-inline .after-calendar {
    display: none;
  }
}
///
// Lista Orari
////

.widget .webcomponent-booking-items-list {
  flex-basis: 30%;
  background: rgba(48,48,48,0.75);
  padding: 0 1.5em 1.5em 1.5em;
  min-width: 320px;
  max-width: 500px;

  @media (max-width: 768px) {
    margin: 0 auto;
    min-width: 500px;
    flex-basis: 100%;
    flex-grow: 1;
    box-sizing: border-box;
  }
}

body.widget .webcomponent-booking-items-list .available-dates .available-date-block {
  padding: 1.5em 0;
  margin: 0;
}

.widget .available-dates {
  max-width: 450px;
  //min-width: 350px;
  margin: 0 auto !important;
}

body.widget .webcomponent-booking-items-list .available-dates .available-date-block .date {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  padding: 1.5em 0;
  font-weight: 400;
  margin-bottom: 0;
}

.widget .webcomponent-booking-items-list .available-dates .available-date-block .available-times ul .available-time {
  background: transparent;
  border-top: 0;
  border-bottom: 0;


  a {
    display: flex;
    position: relative;
    padding: 0.75em 0;
    border-bottom: 1px solid #fff;

    p {
      color: #fff;
      padding: 0;
    }

    p.time {
      padding: 0;
      color: #fff;
    }

    &>.time-arrow {
      border: 0;
      border-radius: 0;
    }
  }
}

body.widget .webcomponent-booking-items-list .available-dates .available-date-block .available-times ul .available-time a p.time strong {
  line-height: 1.5em;
  margin-right: 1.5em;
}




/////
// LANGHE
////
#trekksoft-popup-popup {
  background-color: transparent !important;
  background-image: url(http://langhe.net/wp-content/uploads/2015/07/colline-unesco-2.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}
